* {
    font-family: 'Courier Prime', monospace;
    padding: 0;
    margin: 0;
    border: 0;
    background: #F5F5DC;
    scroll-behavior: smooth;
    overflow: hidden;
    user-select: none;
    
}

#navigation {
    position: fixed;
    display: block;
    width: 62px;
    right: 10vh;
    top: 50%;
    transform: translate(0, -50%);
    align-items: center;
    justify-content: center;
}

.material-symbols-outlined {
    z-index: 50;
    background: #E6E6B1;
    height: 60px;
    width: 60px;
    margin: 40px 1px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

button:hover {
    background: #D1D19F;
}

button:active {
    outline: solid black 1px;
}

.slides {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
}

.introMedia {
    display: none;
    margin-right: min(30vh);
    max-width: 80%;
}

#title {
    font-size: 50px;
}

#missinfo {
    position: absolute;
    top: 210vh;
}

.centerMedia {
    display: none;
    transform: translate(0, +10%);
    max-width: 80%;
    max-height: 80%;
}

h2 {
    font-size: 100px;
}

#capinfo {
    position: absolute;
    top: 310vh;
}

#leftCap1 {
    position: absolute;
    left: 20vw;
    transform: rotate(25deg);
}

#leftCap2 {
    position: absolute;
    left: 10vw;
    transform: rotate(-25deg);
}

#rightCap1 {
    position: absolute;
    right: 20vw;
    transform: rotate(-25deg);
}

#rightCap2 {
    position: absolute;
    right: 10vw;
    transform: rotate(25deg);
}

#otherinfo {
    position: absolute;
    top: 410vh;
}

#other_vert{
    transform: translate(0%, 8%);
    flex-direction: column;
}

.otherMedia {
    display: none;
    text-align: center;
    font-size: 65px;
    margin: 50px;
}

#howinfo {
    position: absolute;
    top: 510vh;
}

#how_flexbox {
    display: flex;
    flex-wrap: wrap;
    margin-right: 100px;
    align-items: center;
}

.howMedia {
    display: none;
    max-width: 300px;
    margin: 25px;
}

.material-symbols-outlined#person{
    display: none;
    background: #F5F5DC;
    transform:scale(1250%);
    margin: 0;
    height: 20px;
    width: 24px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
}

#cpu {
    position: relative;
    transform: translate(100%, 0);
    margin: 0;
}

#alert {
    position: absolute;
    z-index: 55;
    transform:scale(50%);
}

#solveinfo {
    position: absolute;
    top: 610vh;
}

.solveMedia {
    display: none;
    align-items: center;
    justify-content: center;
}

.solve_flexbox {
    width: 1000px;
    flex-direction: row;
    flex-wrap: wrap;
    transform: translate(0%, 8%);
}

.fit {
    height: 250px;
    margin: 20px;
}

.largeMedia {
    max-height: 250px;
    max-width: 300px;
    transform: scale(200%) translate(0%, 10%);
}

#actioninfo{
    position: absolute;
    top: 710vh;
}

.actionMedia {
    display: none;
}

.material-symbols-outlined#researchers{
    display: none;
    background: #F5F5DC;
    transform: scale(1250%);
    margin-right: 200;
    height: 20px;
    width: 24px;
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
    };

#proofinfo {
    position: absolute;
    top: 810vh;
}

#grid_container_400 {
    display: none;
    grid-template-rows: repeat(20, 1fr);
    grid-template-columns: repeat(20, 1fr);
}

.material-symbols-outlined.tiles4 {
    background: #F5F5DC;
    margin: 0;
    height: 20px;
    width: 24px;
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
}

#fifty_million {
    display: none;
    transform: scale(2000%);
}

#grid_container_3000 {
    display: none;
    grid-template-rows: repeat(50, 1.5vh);
    grid-template-columns: repeat(60, 1.2vw);
    transform: translate(0%, 5%);
}

.material-symbols-outlined.tiles30 {
    color: green;
    background: #F5F5DC;
    margin: 0;
    padding: 0;
    height: 20px;
    width: 24px;
    transform: scale(50%) translate(-50%, -50%);
    font-variation-settings:
    'FILL' 0,
    'wght' 500,
    'GRAD' 0,
    'opsz' 48;
}

#threekay {
    position: absolute;
    background-color: rgba(0, 217, 217, 0.5);
    line-height: 100px;
    letter-spacing: 2px;
}